/* General styling */
* {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  line-height: 1em;
  font-family: "Calibri", sans-serif;
}
html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

h1 {
  margin: 0 .5em .5em .5em;
  padding-top: .5em;
  font-size: 2em;
}

/* Specific page elements */
#errorBox {
  margin: 0px 0px 0px 20px;
  padding: 0px;
  vertical-align: top;
  line-height: inherit;
  color: #FF0000;
}

#progressTableContainer {
  height: 80%;
  margin: 1em 1em 0 1em;
  border: 1px solid #499bea;
}

/* Table styling rules */
table, tr, td {
  border: 1px solid #499bea;
  border-collapse: collapse;
  text-align: right;
}
table {
  width: 100%;
  height: 100%;
}
td {
  padding: 10px;
}
td.value {
  cursor: pointer;
}
.columnHeader {
  text-align: center;
}
.tableHeader,
.tableTotals {
  font-size: 1.5em;
  color: #FFF;  
  background: #499bea; /* Old browsers */
  background: -moz-linear-gradient(top,  #499bea 0%, #207ce5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#499bea), color-stop(100%,#207ce5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #499bea 0%,#207ce5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #499bea 0%,#207ce5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #499bea 0%,#207ce5 100%); /* IE10+ */
  background: linear-gradient(top,  #499bea 0%,#207ce5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
}
.tableSubHeader {
  border-bottom: 3px double #499bea;
}
td.summable {
  background-color: #89DBFF;
}
td.emphasis {
  font-size: 1.1em;
  font-weight: bold;
}

input {
  border: 2px solid #499bea;
  text-align: right;
}

/* Footer with datestamps for last check and change */
#lastUpdate {
  float: right;
  margin: 5px 2em;
  padding: 0px;
  font-size: .5em;
}
#lastUpdate span {
  font-size: 10px;
}
