/* General styling */
* {
  margin: 0px;
  padding: 0px;
  line-height: 1em;
  font-family: "Helvetica Neue", "Helvetica", "Calibri", sans-serif;
}
html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  color: #003142;
}

h1 {
  margin: 0 .5em .5em .5em;
  padding-top: .5em;
  font-size: 2em;
}

/* Specific page elements */
#logo {
  margin: 0px 1em 0px 0px;
  vertical-align: middle;
}

#errorBox,
#successBox {
  display: none;
  margin: 0px 0px 0px 1em;
  padding: 0px;
  vertical-align: middle;
  line-height: inherit;
  color: #FF0000;
  font-size: .5em;
}
#successBox {
  color: #00E000;
}

#dataTableContainer {
  height: 80%;
  margin: 1em 1em 0 1em;
}

/* Table styling rules */
table, tr, td {
  border: 1px solid #00546B;
  border-collapse: collapse;
  text-align: right;
}
table {
  width: 100%;
  height: 100%;
  border-width: 3px;
}
td {
  padding: 10px;
}
td.value {
  cursor: pointer;
}
td.value:hover {
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, .5);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, .5);
}
.columnHeader {
  text-align: center;
  font-size: 1.5em;
}
.tableHeader,
.tableTotals {
  font-size: 1em;
  font-weight: bold;
  color: #FFF;  
  background: #00546B;
}
.tableSubHeader {
  border-bottom: 3px solid #000;
}
tr.summable {
  background-color: #51BFE2;
}
td.emphasis {
  font-size: 1.5em;
  font-weight: bold;
}
td.separateRight + td.separateLeft {
  border-left: 3px solid #000;
}

input {
  border-width: 0px;
  text-align: right;
  font-size: 1em;
}

/* Footer with datestamps for last check and change */
#lastUpdate {
  float: right;
  margin: 5px 1.4em;
  padding: 0px;
  font-size: .7em;
}
#lastUpdate span {
  font-size: 1em;
}
